/* Font family */
body {
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

/* //colors
$tan: rgba(202, 187, 163, 1.00);
$orange: rgba(231, 83, 41, 1.00);
$green: rgba(46, 60, 26, 1.00);
$yellow: rgba(218, 149, 3, 1.00); 

rocky: "#743100",
lightrocky: "#9B5933",
sandRock: "#B0864F",
dustBunnyGreen: "#6A775F",
grass: "#545700",*/

body {
  background-color: #fefef8;
}

/* Navbar */
/* header {
    position: fixed;
    top: 0;
    width: 100%;
  } */

  .nav-container{
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-logo{
    border: 1px salmon solid;
    width: 200px;
  }
  .nav-logo{
    height: auto;
  }
  .nav-middle-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
  .nav-middle-links a {
    margin-top: .5rem;
    font-weight: 700;
    text-decoration: none;
    color: #9B5933;
  }

  /* Hamburger */

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #2d2b2b;
    color: #2e323f;
    transition: opacity 250ms ease;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
    position: absolute;
    right: 30px;
    top: 5px;
  }
  
  .nav-toggle:focus,
  .nav-toggle:hover {
    opacity: 0.75;
  }
  
  .hamburger {
    width: 50%;
    position: relative;
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background: white;
  }
  
  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 100%;
  }
  
  .hamburger::before {
    transform: translateY(-6px);
  }
  
  .hamburger::after {
    transform: translateY(3px);
  }
  
  .nav {
    /* visibility: hidden; */
    display: none;
    height: 0;
    position: absolute;
  }
  
  .nav--visible {
    /* visibility: visible; */
    display: flex;
    height: auto;
    position: relative;
  }

  /* Responsive */

@media (min-width: 700px) {
    /* Navbar */
    .nav-toggle {
      display: none;
    }
  
    .nav {
      visibility: visible;
      height: auto;
    }
    .nav-container {
      flex-direction: row;
      justify-content: space-between;
    padding: 1.3rem;
    
    }
    .nav-middle-links {
       display: flex;
       flex-direction: row;
      position: relative;  
    }
    .nav-middle-links a {
      display: flex;
      flex-direction: row;
      
      margin: 0;
      margin-left:2rem;

}
  